<%= content_for :title do @title end %>
<%= content_for :page_description do @description end %>
<%= content_for :page_image do asset_url("sustainable-manifesto-illustration.jpg") end %>

<div class="px-6 py-16 lg:px-8">
  <div class="mx-auto max-w-3xl text-base/7 text-gray-700 dark:text-gray-400">
    <div class="principle-content">
      <%= @html_content.html_safe %>
    </div>
    <div class="mt-10 flex items-center gap-x-6">
      <%= link_to root_path, class: "text-sm/6 font-semibold text-gray-900 dark:text-gray-200" do %>
        <span aria-hidden="true">←</span> Back to Manifesto
      <% end %>
    </div>
  </div>
</div>
