<%= content_for :title do "Sustainable software manifesto" end %>
<%= content_for :page_description do "As developers, designers, and entrepreneurs, we shape the world through software. Prioritizing sustainability, inclusivity, and ethics is key to a just and resilient future." end %>
<%= content_for :page_image do asset_url("logo.jpg") end %>

<div class="px-6 py-16 lg:px-8">
  <div class="mx-auto max-w-3xl text-base/7 text-gray-700 dark:text-gray-400">
    <h1 class="mt-2 text-pretty text-4xl font-semibold tracking-tight text-gray-900 dark:text-gray-300 sm:text-5xl">Sustainable software manifesto</h1>
    <p class="mt-6">Software shapes the world we live in. It powers communication, education, commerce, and culture. But it also consumes vast amounts of energy, accelerates extraction, concentrates power, and often undermines the trust and wellbeing of communities.</p>
    <p class="mt-6">The systems we create are never neutral. They can magnify harm, or they can strengthen the foundations of a just and sustainable society. How we build today shapes what becomes possible tomorrow.</p>
    <p class="mt-6">This manifesto is our commitment to the latter. It calls on creators, maintainers, organizations, and citizens to align digital systems with the needs of a thriving world. Sustainable software is not a luxury, but an essential part of our shared future.</p>
    <div class="mt-10 max-w-2xl">
      <h2 class="text-2xl font-semibold text-gray-900 dark:text-gray-300">Principles</h2>
      <ul role="list" class="mt-8 max-w-xl space-y-8 text-gray-600 dark:text-gray-400">
        <li class="flex gap-x-3">
          <svg class="mt-1 size-5 flex-none text-teal-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
            <path fill-rule="evenodd" d="M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16Zm3.857-9.809a.75.75 0 0 0-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 1 0-1.06 1.061l2.5 2.5a.75.75 0 0 0 1.137-.089l4-5.5Z" clip-rule="evenodd" />
          </svg>
          <span><strong class="font-semibold text-gray-900 dark:text-gray-300"><%= link_to "Lower environmental impact", principle_path("lower-environmental-impact"), class: "text-teal-600 font-semibold underline decoration-dotted focus:ring-2 rounded focus:ring-teal-300 active:text-teal-800" %></strong> – Every line of code has a footprint. Sustainable software minimizes harm and aligns our digital systems with ecological limits.</span>
        </li>
        <li class="flex gap-x-3">
          <svg class="mt-1 size-5 flex-none text-teal-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
            <path fill-rule="evenodd" d="M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16Zm3.857-9.809a.75.75 0 0 0-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 1 0-1.06 1.061l2.5 2.5a.75.75 0 0 0 1.137-.089l4-5.5Z" clip-rule="evenodd" />
          </svg>
          <span><strong class="font-semibold text-gray-900 dark:text-gray-300"><%= link_to "Enduring design", principle_path("enduring-design"), class: "text-teal-600 font-semibold underline decoration-dotted focus:ring-2 rounded focus:ring-teal-300 active:text-teal-800" %></strong> – When systems are designed to last, they reduce exclusion, limit waste, and remain usable across devices and contexts.</span>
        </li>
        <li class="flex gap-x-3">
          <svg class="mt-1 size-5 flex-none text-teal-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
            <path fill-rule="evenodd" d="M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16Zm3.857-9.809a.75.75 0 0 0-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 1 0-1.06 1.061l2.5 2.5a.75.75 0 0 0 1.137-.089l4-5.5Z" clip-rule="evenodd" />
          </svg>
          <span><strong class="font-semibold text-gray-900 dark:text-gray-300"><%= link_to "Human wellbeing", principle_path("human-wellbeing"), class: "text-teal-600 font-semibold underline decoration-dotted focus:ring-2 rounded focus:ring-teal-300 active:text-teal-800" %></strong> – Technology should nurture, not exploit. Sustainable systems strengthen relationships and reflection instead of eroding them.</span>
        </li>
        <li class="flex gap-x-3">
          <svg class="mt-1 size-5 flex-none text-teal-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
            <path fill-rule="evenodd" d="M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16Zm3.857-9.809a.75.75 0 0 0-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 1 0-1.06 1.061l2.5 2.5a.75.75 0 0 0 1.137-.089l4-5.5Z" clip-rule="evenodd" />
          </svg>
          <span><strong class="font-semibold text-gray-900 dark:text-gray-300"><%= link_to "Inclusive creation", principle_path("inclusive-creation"), class: "text-teal-600 font-semibold underline decoration-dotted focus:ring-2 rounded focus:ring-teal-300 active:text-teal-800" %></strong> – Technology serves humanity best when it welcomes everyone and adapts to diverse abilities, languages, and contexts.</span>
        </li>
        <li class="flex gap-x-3">
          <svg class="mt-1 size-5 flex-none text-teal-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
            <path fill-rule="evenodd" d="M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16Zm3.857-9.809a.75.75 0 0 0-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 1 0-1.06 1.061l2.5 2.5a.75.75 0 0 0 1.137-.089l4-5.5Z" clip-rule="evenodd" />
          </svg>
          <span><strong class="font-semibold text-gray-900 dark:text-gray-300"><%= link_to "Data sovereignty", principle_path("data-sovereignty"), class: "text-teal-600 font-semibold underline decoration-dotted focus:ring-2 rounded focus:ring-teal-300 active:text-teal-800" %></strong> – Data represents people's lives and belongs to them. Sustainable systems give individuals real control over their data.</span>
        </li>
        <li class="flex gap-x-3">
          <svg class="mt-1 size-5 flex-none text-teal-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
            <path fill-rule="evenodd" d="M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16Zm3.857-9.809a.75.75 0 0 0-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 1 0-1.06 1.061l2.5 2.5a.75.75 0 0 0 1.137-.089l4-5.5Z" clip-rule="evenodd" />
          </svg>
          <span><strong class="font-semibold text-gray-900 dark:text-gray-300"><%= link_to "Transparent algorithms", principle_path("transparent-algorithms"), class: "text-teal-600 font-semibold underline decoration-dotted focus:ring-2 rounded focus:ring-teal-300 active:text-teal-800" %></strong> – Algorithms influence opportunity, representation, and truth. Their impact must be understandable and open to challenge.</span>
        </li>
        <li class="flex gap-x-3">
          <svg class="mt-1 size-5 flex-none text-teal-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
            <path fill-rule="evenodd" d="M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16Zm3.857-9.809a.75.75 0 0 0-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 1 0-1.06 1.061l2.5 2.5a.75.75 0 0 0 1.137-.089l4-5.5Z" clip-rule="evenodd" />
          </svg>
          <span><strong class="font-semibold text-gray-900 dark:text-gray-300"><%= link_to "Fair labor", principle_path("fair-labor"), class: "text-teal-600 font-semibold underline decoration-dotted focus:ring-2 rounded focus:ring-teal-300 active:text-teal-800" %></strong> – Sustainable systems depend on fair labor, ethical business models, and shared value creation.</span>
        </li>
        <li class="flex gap-x-3">
          <svg class="mt-1 size-5 flex-none text-teal-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
            <path fill-rule="evenodd" d="M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16Zm3.857-9.809a.75.75 0 0 0-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 1 0-1.06 1.061l2.5 2.5a.75.75 0 0 0 1.137-.089l4-5.5Z" clip-rule="evenodd" />
          </svg>
          <span><strong class="font-semibold text-gray-900 dark:text-gray-300"><%= link_to "Open infrastructure", principle_path("open-infrastructure"), class: "text-teal-600 font-semibold underline decoration-dotted focus:ring-2 rounded focus:ring-teal-300 active:text-teal-800" %></strong> – Open systems are adaptable systems. They invite participation, foster transparency, and distribute power.</span>
        </li>
        <li class="flex gap-x-3">
          <svg class="mt-1 size-5 flex-none text-teal-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
            <path fill-rule="evenodd" d="M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16Zm3.857-9.809a.75.75 0 0 0-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 1 0-1.06 1.061l2.5 2.5a.75.75 0 0 0 1.137-.089l4-5.5Z" clip-rule="evenodd" />
          </svg>
          <span><strong class="font-semibold text-gray-900 dark:text-gray-300"><%= link_to "Collaborative development", principle_path("collaborative-development"), class: "text-teal-600 font-semibold underline decoration-dotted focus:ring-2 rounded focus:ring-teal-300 active:text-teal-800" %></strong> – Sustainability is a process, not a destination. Transparent practices allow communities to contribute to continuous improvement.</span>
        </li>
        <li class="flex gap-x-3">
          <svg class="mt-1 size-5 flex-none text-teal-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
            <path fill-rule="evenodd" d="M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16Zm3.857-9.809a.75.75 0 0 0-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 1 0-1.06 1.061l2.5 2.5a.75.75 0 0 0 1.137-.089l4-5.5Z" clip-rule="evenodd" />
          </svg>
          <span><strong class="font-semibold text-gray-900 dark:text-gray-300"><%= link_to "Governance for the common good", principle_path("governance-for-the-common-good"), class: "text-teal-600 font-semibold underline decoration-dotted focus:ring-2 rounded focus:ring-teal-300 active:text-teal-800" %></strong> – Sustainable software is guided by shared stewardship and decision-making that prioritizes the public good.</span>
        </li>
      </ul>
    </div>
    <div class="mt-10 flex items-center gap-x-6">
      <%= link_to "Sign the manifesto", sign_path, class: "rounded-md bg-teal-600 px-3.5 py-2.5 text-sm font-semibold text-white dark:text-gray-200 shadow-sm hover:bg-teal-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-teal-600" %>
      <%= link_to principle_path("lower-environmental-impact"), class: "text-sm/6 font-semibold text-gray-900 dark:text-gray-200" do %>
        Explore the principles <span aria-hidden="true">→</span>
      <% end %>
    </div>
  </div>
</div>

